#createPollForm{
    .create-prompt{
        height: 40px;
        width: 400px;
        font-size: 26px;
    }

    .create-input{
        display: block;
    }

    .checkbox-container{
        display: block;
        cursor: pointer;

        .checkbox, label{
            display: inline-block;
            cursor: pointer;
        }

        label{
            -webkit-user-select: none;  
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    }
}
